extends ../layout

block content
    h1.
         #{title}
    ul
        - each food, i in foods
            li
                = food.name
                = food.date
                = food.expiry
                = food.left_overs
                = food.quantity
                = food._id
                form(action='/foods/#{food._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a(href='/foods/#{food._id}/edit') Edit
                p
                    a(href='/foods/#{food._id}') Show